 BasedOnStyle: Google
 IndentWidth: 4
 PointerAlignment: Left
 NamespaceIndentation: All
 ColumnLimit: 80
 AllowAllArgumentsOnNextLine: true
 AllowShortBlocksOnASingleLine: Empty
 AlignAfterOpenBracket: AlwaysBreak